Source: r-cran-tidyr
Maintainer: Debian R Packages Maintainers <r-pkg-team@alioth-lists.debian.net>
Uploaders: Andreas Tille <tille@debian.org>
Section: gnu-r
Testsuite: autopkgtest-pkg-r
Priority: optional
Build-Depends: debhelper-compat (= 13),
               dh-r,
               r-base-dev,
               r-cran-dplyr (>= 0.8.2),
               r-cran-ellipsis,
               r-cran-glue,
               r-cran-lifecycle,
               r-cran-magrittr,
               r-cran-purrr,
               r-cran-rlang,
               r-cran-tibble (>= 2.1.1),
               r-cran-tidyselect (>= 1.1.0),
               r-cran-vctrs,
               r-cran-cpp11
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/r-pkg-team/r-cran-tidyr
Vcs-Git: https://salsa.debian.org/r-pkg-team/r-cran-tidyr.git
Homepage: https://cran.r-project.org/package=tidyr
Rules-Requires-Root: no

Package: r-cran-tidyr
Architecture: any
Depends: ${R:Depends},
         ${shlibs:Depends},
         ${misc:Depends}
Recommends: ${R:Recommends}
Suggests: ${R:Suggests}
Description: GNU R package to easily tidy data
 GNU R package to easily tidy data with 'spread()' and 'gather()'
 functions.
 .
 An evolution of 'reshape2'. It's designed specifically for data tidying
 (not general reshaping or aggregating) and works well with 'dplyr' data
 pipelines.
